<nav class="top navbar navbar-expand navbar-light bg=light">
  
  <ul class="nav nav-pills">
      <li class="nav-link" [routerLink]="['/welcome']" routerLinkActive="active-link">Home</li>    
      <li class="nav-link" [routerLink]="['/instructors']" routerLinkActive="active-link">Instructors List</li>
      <li class="nav-link" [routerLink]="['/create']" routerLinkActive="active-link">Create Instructor</li>
      <li class="nav-link" *ngIf='showLogOutBtn' [routerLink]="['/admin']" routerLinkActive="active-link">Admin Page</li>
<!-- ggg -->
      <li 
      class="nav-link" 
      (click)= 'toggleLogIn()' 
      >
        <div class="frame-login">
          <span id="open" class="login-open">Open </span>
          <span id="close" class="login-close">Close </span>
        </div>  
        Login
      </li>
<!--  -->
      <li class="nav-link" *ngIf='showLogOutBtn' (click)= 'logout()' >Logout</li>

      <li id="login-wrap" class="wrap-in" *ngIf='openLogIn'>
        <div class="logininput-wrap">
          <input placeholder="User name" value="{{user}}" class="login-input" type="text" [(ngModel)] = 'user'>
        </div>
        <div class="logininput-wrap">
          <input placeholder="Password" value="{{password}}" class="login-input" type="{{pswdTogl}}" [(ngModel)] = 'password'>
          <span class="show-pswd" (mouseup)= 'showAsPswd()' (mousedown)= 'showAsText()'	>
            <i class="fa fa-eye"></i>
          </span>
        </div>
        <button class="ibtn lgn-btn" (click)= 'logIn()'>Login!</button>
        <span *ngIf=message class="msg">{{message}}</span>
      </li>
  </ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>