
.top {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: lightseagreen;
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@keyframes hideme {
  from {opacity: 1;}
  to {opacity: 0;}
 }
 @keyframes showme {
  from {opacity: 0;}
  to {opacity: 1;}
 }
.hide-me {
  animation-name: hideme;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.show-me {
  animation-name: showme;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.menu-mobile-btn {
  display: none;
}
#login-wrap {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #0000001a; 
  padding-bottom: 20px; 
}
li.login-special-position {
  position: absolute;
  right: 100px;
}
@keyframes fade-down-login {
  from  {opacity:0; margin-top: -80px;}
  /* 50%  {opacity:0; margin-top: -80px;}
  80%  {opacity:0.1; margin-top: 0px;} */
  to  {opacity:1; margin-top: 20px;}
}
@keyframes fade-up-login {
  from  {opacity:1; margin-top: 20px;}
  /* 30%  {opacity:0.1; margin-top: -10px;}
  65%  {opacity:0.05; margin-top: -40px;} */
  to  {opacity:0; margin-top: -80px;}
}
.wrap-in-login {
  animation-name: fade-down-login;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.wrap-out-login {
  animation-name: fade-up-login;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
input:focus {
  outline: none !important;
}
.lgn-btn {
  background-color: black;
  border: none;
  margin: 0 5px;
  height: 43px;
  padding: 10px 15px;
}
.lgn-btn:hover {
  color: white;
  box-shadow: 0 4px 15px 0px rgb(0 0 0 / 50%), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.show-pswd {
  color: black;
  position: relative;
  right: 10px;
}
.logininput-wrap, .msg {
  border: 1px solid black;
  display: inline;
  margin-right: 7px;
  margin-left: 7px;
  border-radius: .15rem;
  padding: .6rem 0.2rem;
}
.msg {
  padding: .6rem 1rem;
  font-weight: 700;
  border: 1px dashed black;
}
.login-input {
  border-color: transparent;
  background-color: transparent;
  color: white;
  padding: .5rem 0.2rem;
}
.login-input::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}
.login-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: black;
}
.login-input::-ms-input-placeholder { /* Microsoft Edge */
 color: black;
}
.nav-link {
  cursor: pointer;
  margin-right: 10px;
  transition: all .5s ease-in-out;
  display: inline-block;
  border: none;
  border-radius: 0;
  padding: 0px 2px 15px 2px;
  margin-left: 3%;
  font-size: 1.2rem;
}
.nav-link:hover {
  font-weight: 700;
}
@keyframes thefadeout {
  0%  {opacity:1; left: 0px;}
  100%  {opacity:0; left: -15px;}
}
@keyframes thefadein {
  0%  {opacity:0; left: -15px; }
  100%  {opacity:1; left: 0px;}
}
.frame-login {
  display: inline-block;
}
ul .frame-login>.myfadeout {
  animation-name: thefadeout;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
ul .frame-login>.myfadein {
  animation-name: thefadein;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.frame-login>.login-open {
  opacity:1;
  display: inline;
  position: relative;
}
.frame-login>.login-close {
  opacity:0;
  display: none;
  position: relative;
}
.active-link, .active-link:focus, .active-link:active, li.nav-link:focus, li.nav-link:active {
  color: black;
  border-bottom: 1px solid black;
  outline: none !important;
  font-weight: 700;
  padding: 0px 2px 5px 2px;
  height: fit-content;
  border-radius: 0;
}


@media screen and (min-width: 951px){
  #menu-links {
    display: flex !important;
  }
} 


/* [[[[[[[[[[[[[[[[[[[[[[[[[                    ]]]]]]]]]]]]]]]]]]]] */
/* [[[[[[[[[[[[[[[[[[[[[[[[[    MOBILE VIEW:    ]]]]]]]]]]]]]]]]]]]] */
/* [[[[[[[[[[[[[[[[[[[[[[[[[                    ]]]]]]]]]]]]]]]]]]]] */


@media screen and (max-width: 950px){
  .top{
    padding-right: 0;
    padding-left: 0;
    padding-top: 10px;
    border-bottom: 1px solid #0000000f;
    padding-bottom: 20px; 
  }
  /* #menu-links {
    display: none;
  } */
  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .active-link, .active-link:focus, .active-link:active, li.nav-link:focus, li.nav-link:active {
    border-bottom: none;
  }
  .nav-pills {
    padding-top: 30px;
  }
  .menu-mobile-btn {
    display: block;
    width: 100%;
    font-family: 'Grandstander', cursive;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    transition: all 2.5s ease;
    position: absolute;
    top: 20px;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
  }
  #menu-btn2 {
    position: absolute;
    top: 20px;
    right: -4px;
    opacity: 1;
    z-index: 1;
  }
  .left-bracket, .right-bracket {
    display: inline-block;
  }
  .left-bracket { 
    transition: transform 0.5s ease;
    transform: translate(-2px, 0px);
  }
  .right-bracket { 
    transition: transform 0.5s ease;
    transform: translate(2px, 0px);
  }
  .menu-mobile-btn-wrp:hover .left-bracket { 
    transform: translate(2px, 0px);
  }
  .menu-mobile-btn-wrp:hover .right-bracket { 
    transform: translate(-2px, 0px);
  }
  .nav-link {
    display: block;
    text-align: center;
    width: 100%;
    margin: 4px 0;
    height: fit-content;
    padding: 5px 0px 5px 0px;
  }
  .nav-link:hover {
    background-color: #82a2a1a1;
  }
  .active-link {
    border-bottom: none;
  }
  @keyframes fade-down-login {
    0%  {opacity:0; margin-top: -220px;}
    /* 30%  {opacity:0.2; margin-top: -50px;}
    70%  {opacity:0.2; margin-top: -20px;} */
    100%  {opacity:1; margin-top: 5px;}
  }
  @keyframes fade-up-login {
    0%  {opacity:1; margin-top: 5px;}
    /* 40%  {opacity:0.2; margin-top: 0px;}
    80%  {opacity:0.2; margin-top: -120px;} */
    100%  {opacity:0; margin-top: -220px;}
  }
  @keyframes fade-down-menu {
    from  {opacity:0; margin-top: -190px;}
    /* 50%  {opacity:0; margin-top: -80px;}
    80%  {opacity:0.1; margin-top: 0px;} */
    to  {opacity:1; margin-top: 0px;}
  }
  @keyframes fade-up-menu {
    from  {opacity:1; margin-top: 0px;}
    /* 30%  {opacity:0.1; margin-top: -10px;}
    65%  {opacity:0.05; margin-top: -40px;} */
    to  {opacity:0; margin-top: -210px;}
  }
  .wrap-in-menu {
    animation-name: fade-down-menu;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    padding-top: 30px;
  }
  .wrap-out-menu {
    animation-name: fade-up-menu;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  li#login-link {
    position: initial;
}
  #login-wrap {
    display: block;
    text-align: center;
    width: 100%;
    margin: 5px 20px;
    border-bottom: none;
    padding-bottom: 0; 
  }
  .login-input {
    width: 90%;
    text-align: center;
  }
  .logininput-wrap, .msg {
    display: block;
    height: fit-content;
    padding: 5px;
    margin: 10px 0;
  }
  .lgn-btn {
    display: block;
    width: 100%;
    margin: auto;
  }
}