<h2>    
    Instructors List Page!
</h2>
 <div >
    
    <div class='col-md-4'>
        <p>Filter By</p>
        <input type='text' 
        [(ngModel)] = 'listFilter'/>
    </div>

    <div
    *ngIf='instructors'
    >
    
        <div class="kdkd" 
       *ngFor =  'let inst of filteredInstructors'
    >
            <div
                [routerLink]="['/instructor', inst.instId]" 
                style="border: 1px solid grey; margin: 10px; padding: 20px;"
            >
                <div>Instructor id [{{inst.instId}}]</div>
                <div>Name: {{inst.instName}}</div>
                <div>Short description: {{inst.instTitle}}</div>
                <div>Field: {{inst.instField}}</div> 
            </div>    
        </div>
    </div>
</div> 