<div class="wide-container  bc-coralight">
    <div class="center-container">
        <h1 class="welcome-header twist">
           <span class="title1 align-center">
                FIND 
            </span> 
           <span class="title2">
                &lt; YOUR > 
            </span> 
           <span class="title3 align-center">
                INSTRUCTOR!
            </span>
        </h1>
        <h2 class="more-content">
            Instructors List Page!
        </h2>
    </div>
</div>

<h2> content detailed about the instructor</h2>

<h2>instructor detail page</h2>
<p>{{crntID}}</p>
<div
class="center-container"
*ngIf='instructor'
>

    <div  >
        <div
            style="border: 1px solid grey; margin: 10px; padding: 20px;"
        >
            <div>instName {{instructor.instName}}</div> 
            <div>instField {{instructor.instField}}</div>
            <div>instTitle {{instructor.instTitle}}</div>
            <div>instEmail {{instructor.instEmail}}</div>
            <div>instPhone {{instructor.instPhone}}</div>
            <div>instLink {{instructor.instLink}}</div>
            <div>instDiploma {{instructor.instDiploma}}</div>
            <div>instStatus {{instructor.instStatus}}</div>
            <div>instDescription {{instructor.instDescription}}</div>
            <div>instImage {{instructor.instImage}}</div>
        </div>    
    </div>
</div>
<div class="card-footer">
    <button class="btn btn-outline-secondary"
        (click)= 'onBack()' 
         style='width: 80px'
   >
        <i class="fa fa-chevron-left"></i>
        Back
   </button>
 </div>