<div class="wrp-all" *ngIf='instructor'>
    <div class="welcome">
        <div class="main-title-wrp">
            <div class="border-div">
                <h1 class="main-title">
                    {{instructor.instName}}
                </h1>
            </div>
            <h2 class="sub-title">
                {{instructor.instField}}
            </h2>
        </div>    
    </div>

    <div class="wide-container presentation">
      <div class="grid">
          <div class="img-wrp">
              <img onerror="this.onerror=null;this.src='assets/img/avatar.jpg';" src="{{instructor.instImage}}" alt="image of {{instructor.instName}}">
          </div>
          <div class="prsnttn-txt-wrp">
              <p class="name">
                {{instructor.instName}}
              </p>
              <p class="txt">
                {{instructor.instTitle}}
              </p>
              <div *ngIf="instructor.instDiploma" class="diploma-wrp">
                <div class="diploma-icon">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                <p class="diploma-txt">
                    {{instructor.instDiploma}}
                </p>
            </div>
          </div>
      </div>      
    </div>

    <div class="wide-container action">
        <div class="action-wrp">
            <p class="action-txt">
                Don't hesitate, call me!
            </p>
            <a class="action-phone" href="tel:{{instructor.instPhone}}">
                {{instructor.instPhone}}

            </a>
        </div>
    </div>

    <div class="wide-container about">
       <div class="about-wrp">
        <p class="about-header">
            About me:
        </p>
        <p class="about-txt">
            {{instructor.instDescription}}
        </p>      
       </div>
    </div>

    <div class="wide-container inst-footer">
        <div class="grid">
            <div class="name-wrp">
                <h3 class="name">
                    {{instructor.instName}}
                </h3>
                <h4 class="field">
                    {{instructor.instField}}
                </h4>
            </div>
            <div class="contact">
                <p>CONTACT ME</p>
                <div>
                    <i class="fa fa-envelope"></i>
                    <a href="tel:{{instructor.instPhone}}">
                        {{instructor.instPhone}}
                    </a>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <a href="mailto:{{instructor.instEmail}}">
                        {{instructor.instEmail}}
                    </a>
                </div>
                <div>
                    <i class="fa fa-globe"></i>
                    <a href="{{instructor.instLink}}">
                        Or click here
                    </a>
                </div>
            </div>
        </div>       
    </div>
    <div class="wide-container footer">
        <div class="grid">
            <div class="back">
                <button class="btn btn-outline-secondary" (click)= 'onBack()'>
                    <i class="fa fa-chevron-left"></i>
                    Back to the list
                </button>
            </div>
            <div class="instructor-factory">
               <p>Powered by the </p>
               <a href="/"> INSTRUCTOR-FACTORY</a>.
            </div>
        </div>       
    </div>
</div>


<!-- <div
    style="border: 1px solid grey; margin: 10px; padding: 20px;"
>
    <div>instName {{instructor.instName}}</div> 
    <div>instField {{instructor.instField}}</div>
    <div>instTitle {{instructor.instTitle}}</div>
    <div>instEmail {{instructor.instEmail}}</div>
    <div>instPhone {{instructor.instPhone}}</div>
    <div>instLink {{instructor.instLink}}</div>
    <div>instDiploma {{instructor.instDiploma}}</div>
    <div>instStatus {{instructor.instStatus}}</div>
    <div>instDescription {{instructor.instDescription}}</div>
    <div>instImage {{instructor.instImage}}</div>
</div>     -->