<div class="wide-container bc-grey top-container">
    <div class="center-container join">
        <h1 class="welcome-header">
           <span class="main-title align-center">
                COME 
                JOIN 
                US! 
            </span>
        </h1>       
    </div> 
    <div class="headertxt-join">
        <h2>
            <span class="join-txt3">
                Do you want to be a part of our familly?
            </span>
            <span class="join-txt1">
                Are you a pationated guide? 
            </span>
            <span class="join-txt2">
                Are you a great instructor?
            </span>
            <span class="join-txt4">
                If its a big <div> YES! </div> fill this form <span><i class="fa fa-arrow-circle-down"></i></span>
            </span>
        </h2>
    </div>  
</div>

 
<div class="center-container join-section">
    <h2>
        ❋ All fields are required!
    </h2>
    <div class="join-form">
        <div class="form-left">
            <input required type='text' class="join-input" placeholder="Your name" [(ngModel)] = 'name'/>
            <input required type='text' class="join-input" placeholder="Field / Category" [(ngModel)] = 'field'/>

            <label for="title"> Short self-presentation: </label>
            <textarea 
            required
            id="title"
            maxlength="180"
            class="join-input" 
            placeholder=
            "A line or two to atract potential students, in example: 'Third place in the World Cycling Championships. Teaching experience - 12 years'" 
            [(ngModel)] = 'title'></textarea> 
            <label for="title" class="lbl-btm" > * Will be display on the index list, <u> and</u> in your personal instructor page. </label>
            
            <input required type='email' ngModel email class="join-input" placeholder="Your Email" [(ngModel)] = 'email'/>
            <input required type='tel' class="join-input" placeholder="Your phone" [(ngModel)] = 'phone'/>
            <input required type='text' class="join-input" placeholder="Your link" [(ngModel)] = 'link'/>
            <input required type='text' class="join-input" placeholder="Your diplomas" [(ngModel)] = 'diploma'/>
        </div>
        
        <div class="form-right">

            <label for="descr"> About you: </label>
            <textarea required id="descr" class="join-input" placeholder="Here is the palce for a long description of your work and your capabilities... " [(ngModel)] = 'descr'></textarea>
            <label for="descr" class="lbl-btm" > * Will be display at your personal instructor page. </label>
            
            <div class="img-upload-wrp">
                <div>
                    <img src="{{img}}" alt="the image of {{name}}">
                </div>
                <div class="img-msg-wrp"> 
                    <div *ngIf='imgLoad' class="img-msg img-stts">{{imgStatusMsg}} </div>
                    <div *ngIf='imgName' class="img-msg">Image name: {{imgName}}</div>
                </div>
                <input required type="file" style="display: none;" (change)="onInputImg($event)" #imgPicker >
                <button [ngClass]="{'btn-dsbl': !goPickImg }" [disabled]="!goPickImg" class="ibtn" (click)="imgPicker.click()">
                    Pick image
                </button> 
                <button [ngClass]="{'btn-dsbl': goPickImg || imgStatusMsg === 'Image saved.' }" [disabled]="goPickImg || imgLoadStep" class="ibtn" (click)='uploadImg()' >
                    Save image
                </button>
            </div>                      
        </div>
    </div>
    <div *ngIf='errorMessage || responseString' class="message-wrp">
        <div *ngIf='errorMessage' class="err-msg">
            {{errorMessage}}
        </div>
        <div *ngIf='responseString' class="rspns-msg"> 
                {{responseString}} 
        </div>
    </div>
    <div class="submit-join">
        <div class="submit-txt">
            <p>
                Before sending your data, please verify the content again!
            </p>
        </div>
        <button class="ibtn create" (click)= 'checkAndSubmit()' type="submit">
            <i class="fa fa-check"></i>
            Create!
        </button>        
    </div>
</div>
<div class="wide-container bc-white footer">
    <div class="footer-grid-wrp">
        <div class="footer-grid-item left">
            <h4><cite>"The greatest good you can do for another is not just to share your riches but to reveal to him his own." </cite></h4>
            <p> (Benjamin Disraeli) </p>
        </div>
        <div class="footer-grid-item right">
            <div class="footer-contact">
                <h4>Contact us at:</h4>
                <a href="">i@instructorfactory.com</a>
            </div>
            <hr>
            <div class="footer-nav">
                <h4>Site navigation:</h4>
                <a [routerLink]="['/welcome']" href="">HOME</a>
                <a [routerLink]="['/instructors']" href="">THE INDEX</a>
                <a [routerLink]="['/create']" href="">JOIN</a>
            </div>
        </div>
    </div>
</div>
