<h2> content detailed about the instructor</h2>

<h2>instructor detail page</h2>
<p>{{crntID}}</p>
<div
*ngIf='instructors'
>

    <div class="kdkd" >
        <div
            style="border: 1px solid grey; margin: 10px; padding: 20px;"
        >
            
            <div>{{instructors.instName}}</div> 
            <div>{{instructors.instField}}</div>
            <div>{{instructors.instTitle}}</div>
            <div>{{instructors.instDescription}}</div>
            <div>{{instructors.instImage}}</div>
        </div>    
    </div>
</div>
<div class="card-footer">
    <button class="btn btn-outline-secondary"
        (click)= 'onBack()' 
         style='width: 80px'
   >
        <i class="fa fa-chevron-left"></i>
        Back
   </button>
 </div>